#posts-container{
    padding: 0;
}

#posts-container .post{
    border: 1px solid rgba(0, 0, 0, 0.026);
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
}

#posts-container .post:last-child{
    margin-bottom: 40px;
}

.post-title{
    font-size: 25px;
    font-family: var(--bold-font);
    margin: 0;
}

.post-autor{
    
}

.post-data-create{
    
}

.post-content{

}

.anexo{
    text-decoration: none;
    color: red;
    display: block;
}

#post-more-options{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: start;
    justify-content: start;
    padding: 0;
}

#post-more-options .ver-coments{
    border: none;
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid rgba(0, 0, 0, 0.236);
    padding: 4px;
    min-width: fit-content;
}

.post-coments{
    margin-top: 20px;
}

.coment{
    margin: 20px 0px;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.064);
}

.coment-autor{
    font-family: var(--bold-font);
}

.coment-email{

}

.coment-data-create{
    font-size: 10px;
    margin-bottom: 5px ;
}

.coment-content{

}