#searchBook-section{
    padding-top: 90px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#search-result-header{
    display: flex;
    justify-content: center;
    align-items: center;
}