.sec{
    min-height: 100vh;
    padding-top: 90px;
}

.sec-title{
    color: var(--color-3);
	margin-bottom: 15px;
    max-width: max-content;
    transition: var(--general-transition);
    position: relative;
    z-index: -99;
}

.sec-title::after{
    position: absolute;
    content: '';
    background-color: var(--color-3);
    width: 0;
    height: 2px;
    left: 0;
    bottom: 0;
    transition: var(--general-transition);
}

#home-section{
    background-image: url('../../assets/images/back6.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 0px 0px 100px rgba(0, 0, 0, 0.387) ;
}

#home-content-container{
    padding: 20px 50px;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

#admin-name{
    font-size: clamp(1.5rem, 5vw, 40px);
}

#home-content-container h1{
	color: white;
}

#home-content-container > div{
	color: white;

}

#goDown-tbn{
    color: white;
    font-weight: bold;
    border-radius: 0;
    background-color: red;
    width: 150px;
    transition: var(--general-transition);
}

#goDown-tbn:hover{
    background: none;
    border: 1px solid red;
    color: red;
}

#link-container{
    display: flex;
    gap: 8px;
}

.external-link-home{
    background-color: rgb(184, 184, 184);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.external-link-home .icon{
    font-size: 25px;
    color: rgb(21, 21, 21);
}

.about-content{
	margin-bottom: 20px;
    padding: 8px;
    border-radius: 8px;
    transition: var(--general-transition);
}

.about-content:hover .sec-title::after{
    width: 100%;
}

#post-section{
    margin-bottom: 20px;
    border-radius: 8px;
}

#post-section .sec-title{
    margin-left: 6px;
}

@media screen and (max-width: 718px){
	
}

