#ver-post-section{
    padding-top: 70px;
}

#back-btn-container{
    margin: 10px 0px;
}

#back-btn{
    background:none;
    border: none;
}

.coment-header{
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 8px 20px 8px 0px;
}

.coment-data{
    font-size: 12px;
}

.coment-adm-options{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.coment-adm-options-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
}
