.post{
    padding: 90px 20px 50px 20px;
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, 0.026);
    border-radius: 8px;
}

.post #header{
    width: 100%;
    position: fixed;
    display: flex;
    top: 0;
	left: 0;
    height: 70px;
    justify-content: space-between;
    padding: 0px 60px;
    align-items: center;
    background-color: black;
}

#logo-container{

}

#back-btn{
    background:none;
    border: none;
    color: white;
}


.post #post-section{
    padding: 50px 20px 10px 20px;
    overflow: auto;
    height: 400px;
}

#post-section::-webkit-scrollbar{
    display: none;
}

.post-title-and-back-btn{
    display: flex;
    align-items: center;
    gap: 20px;
}

.post-title-and-back-btn h4{
    margin: 0;
}

#back-btn{
    background:none;
    border: none;
    font-size: 14px;
}

#comements-section{
}

#comements-container{
    height: 250px;
    overflow-y: auto;
    border-top: 1px solid rgba(0, 0, 0, 0.189);
    border-bottom: 1px solid rgba(0, 0, 0, 0.189);
}

#comements-container::-webkit-scrollbar{
    display: none;
}

.coment{
    margin-bottom: 0;
}

.coment-header{
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 8px 20px 8px 0px;
}

.coment-data{
    font-size: 12px;
}

.coment-adm-options{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.coment-adm-options-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
}

@media (max-width: 718px){
	
}

