#search-section{
    padding-top: 90px;
    min-height: 100vh;
}

#search-result-header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.result-text{
    color: var(--color-3);
    margin: 20px 0px;
}

#results-container{

}

.result .ver-coments{
    border: none;
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid rgba(0, 0, 0, 0.236);
    padding: 4px;
    width: 120px;
    font-size: 14px;
}

p{
    margin: 0;
}

.result{
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.026);
    border-radius: 8px;
}

.result-title{
    font-size: 25px;
    font-family: var(--bold-font);
    margin: 0;
}

.result-title-and-back-btn{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0;
}

.result-title-and-back-btn #back-btn{
    background:none;
    border: none;
    font-size: 14px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
}

.result-autor{
    
}

.result-data-create{
    
}

.result-content{

}

.result-reactions{
    display: flex;
}

.ver-coments{
    width: 60px;
    border: 1px solid whitesmoke;
}

.reaction{
    font-size: 25px;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-top: 10px;
    gap: 8px;
}

.reaction-num{
    font-size: 18px;
}

.like{
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    width: 100%;
    height: 100%;
}

.result-coments{
    margin-top: 20px;
}

.coment{
    margin: 20px 0px;
}

.coment-autor{
    font-family: var(--bold-font);
}

.coment-email{

}

.coment-data-create{
    font-size: 10px;
    margin-bottom: 5px ;
}

.coment-content{

}