#error-page-section{
    padding-top: 150px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#error-container{
    display: flex;
    align-items: flex-end;
    padding: 0;
    gap: 8px;
}

#error-code{
    font-size: clamp(3rem, 7vw, 100px);
    font-weight: bold;
    margin: 0;
    color: rgb(187, 187, 187);
    padding: 0;

}

#error-info{
    font-size: clamp(1.5rem, 5vw, 50px);
    color: rgb(251, 94, 94);
}

#error-message-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#error-title{

}

#error-recomentation{
    text-align: center;
}